<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>US Stock Heatmap (ECharts Treemap)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background: #000000;
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Arial, sans-serif;
        }
        #main-heatmap {
            width: 85%;
            height: 100vh; /* Changed to 100vh for full viewport height */
            margin: 0.5vw auto;
            background: #000000;
        }
    </style>
</head>
<body>

    <!-- <label for="leafDepthSlider">Adjust Leaf Depth:</label>
    <input type="range" id="leafDepthSlider" min="1" max="2" value="2" step="1"> -->
    <div id="main-heatmap"></div>
    
    

    <!-- ECharts from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script th:inline="javascript">
        let stocks = /*[[${(stocks)}]]*/[];
        console.log(stocks); // Changed from coinList to stocks
    </script>

    <!-- External JS file -->
    <script src="../js/stock6.js"></script>
</body>
</html>